<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/homep.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap-grid.css">
    
   
</head>

<div class="container">
    <div class="row">
<div  class="col-sm-4"> 
   
    <h1 class="h1"> WELCOME TO CODE QUEEN</h1>
<img class="img"  src="./image/tyb.png" alt="">
 <h2 class="text-white">ABOUT US <br> (ETC) </h2> <h3  class="h3"> The Children is a UK registered charity that focuses on empowering young women through education and training that increases their employability. Last year we launched Code Queen in Kampala which is an all-female bootcamp designed to train young women in coding and soft skills. Code Queen has successfully run 3 cohorts and graduated 70 students since the launch in 2019.
 </h3>
</div>


   
        <div class="col-sm-4"> 
         <h2 class="va">Click below to sign in!</h2> 
           <p class="h2"><a href="home.html"> SIGN IN</a></p>
     <img class="pic" src="image\fr.jpg" alt="">





        </div>
    
    
</div>
</div>
</form>

</body>
</html>