<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Management System</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
     integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <div class="row"> 
    <div class="wrapper col-md-2">
      <!-- Sidebar -->
      <nav id="sidebar">
          <div class="sidebar-header">
              <img src="./codequeen-logo.png" id="codelogo" alt="code queen logo">
          </div>
          <div class="status">
            <span>Logged In as Admin</span>
          </div>
          <ul class="list-unstyled components">
              <li class="active">
                <a href="index.html">Dashboard</a>
              </li>
              <li>
                  <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Students</a>
                  <ul class="collapse list-unstyled" id="homeSubmenu">
                      <li>
                          <a href="student-register.html">Register Student</a>
                      </li>
                      <li>
                          <a href="Student-table.html">All Students</a>
                      </li>
                  </ul>
              </li>
              <li>
                  <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Mentors</a>
                  <ul class="collapse list-unstyled" id="pageSubmenu">
                      <li>
                          <a href="mentor-register.html">Register Mentor</a>
                      </li>
                      <li>
                          <a href="mentor-table.html">All Mentors</a>
                      </li>
                  </ul>
              </li>
              <li>
                <a href="#jobSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Job board</a>
                <ul class="collapse list-unstyled" id="jobSubmenu">
                    <li>
                        <a href="job-posting.html">Post a job</a>
                    </li>
                </ul>
            </li>
              <li>
                  <a href="#">View Admin Profile</a>
              </li>
              <li>
                  <a href="#">Manage Users</a>
              </li>
          </ul>
      </nav>
    </div>
    <div class="container col-md-10 graphs">
      <h2 class="text-center">WELCOME TO YOUR DASHBOARD</h2>
      <table class="graph">
        <caption>Graduation rate (students) per cohort</caption>
        <thead>
          <tr>
            <th scope="col">Item</th>
            <th scope="col">Percent</th>
          </tr>
        </thead><tbody>
          <tr style="height:85%">
            <th scope="row">Cohort-1</th>
            <td><span>85%</span></td>
          </tr>
          <tr style="height:23%">
            <th scope="row">Cohort-2</th>
            <td><span>23%</span></td>
          </tr>
          <tr style="height:7%">
            <th scope="row">Cohort-3</th>
            <td><span>7%</span></td>
          </tr>
          <tr style="height:38%">
            <th scope="row">Cohort-4</th>
            <td><span>38%</span></td>
          </tr>
          <tr style="height:35%">
            <th scope="row">Cohort-5</th>
            <td><span>35%</span></td>
          </tr>
          <tr style="height:30%">
            <th scope="row">Cohort-6</th>
            <td><span>30%</span></td>
          </tr>
          <tr style="height:5%">
            <th scope="row">Cohort-7</th>
            <td><span>5%</span></td>
          </tr>
          <tr style="height:20%">
            <th scope="row">Cohort-8</th>
            <td><span>20%</span></td>
          </tr>
        </tbody>
      </table>
    </div>

</div>
        


    
   
</body>
<script src="main.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="js/bootstrap.min.js"></script>
</html>
<script>
    var dropdown = document.getElementsByClassName("dropdown-btn");
var i;

for (i = 0; i < dropdown.length; i++) {
  dropdown[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var dropdownContent = this.nextElementSibling;
    if (dropdownContent.style.display === "block") {
      dropdownContent.style.display = "none";
    } else {
      dropdownContent.style.display = "block";
    }
  });
}
</script>