<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>

<div class="form-group">
   
<body BGCOLOR="#F3AC3A" , TEXT ALIGN="center">
    <h1>Manage your passwords</h1>
    <p >
             Reset Your Password
       
        Please enter your new password below for confirmation, Thank you.</p>

        <script type="text/javascript">
        
            function validation()
            {
            var a = document.form.pass.value;
            if(a=="")
            {
            alert("Please Enter Your Password");
            document.form.pass.focus();
            return false;
            }
            if ((a.length < 4) || (a.length > 8))
            {
            alert("Your Password must be 4 to 8 Character");
            document.form.pass.select();
            return false;
            }
            }
            </script>
            </head>
            <body>
            <form name="form" method="post" onsubmit="return validation()">
          
           
            
            <tr>
            <td> New Passsword:</td>
            <td> <input type="password" class="form-control" placeholder="Your Passsword *" value="" />
            
            </tr>

            <td> Repeat Passsword:</td>
            <td><input type="password" name="pass"></td>
            <td><input type="submit" name="sub" value="Submit"></td>

            </tr>
            </form>
           
           

        </div>        
</body>

</html>