body{
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
}
.wrapper{
  display: flex;
  width: 100%;
  align-items: stretch;
}
#sidebar {
  min-width: 250px;
  max-width: 250px;
  min-height: 100vh;
  background: rgb(131, 125, 115)
}
.components li a{
  text-decoration: none;
  color: white;
}
#header{
    width: 100%;
    height: 120px;
    background: #231F20;
    color: white;
}
#adminlogo{
    border-radius: 50px;
    width: 70px;
}
.admin-logo{
    float: right;
    margin-right: 15px;
}
#codelogo{
    width: 150px;
    border-radius: 50px;
}
.code-logo{
    float: left;
}

/* #sidebar{
    width: 300px;
    height: 500px;
    background: #F3AC3A;
    float: left;
} */
#sidebar ul li{
    list-style: none;
    color: white;
    border-bottom: 2px solid gray;
    padding: 20px;
}
 ul li:hover{
    background: #ADADAD;
    color: white;
  
}

#content{
    height: 520px;
    background: #ADADAD;
}
/* Fixed sidenav, full height */
.sidenav {
    width: 300px;
    height: 500px;
    background: #F3AC3A;
    float: left;
    z-index: 1;
    top: 0;
    left: 0; 
    overflow-x: hidden;
    padding-top: 20px;
    
    
  }
  
  /* Style the sidenav links and the dropdown button */
  .sidenav a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    border-bottom: 2px solid gray;
    padding: 20px;
  }
  
  /* On mouse-over */
  .sidenav a:hover, .dropdown-btn:hover {
   
    background: #ADADAD;
    color: white;
    color: white;
    
  }
  
  /* Main content */
  .main {
    margin-left: 200px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
  /* Add an active class to the active dropdown button */
  .active {
    background-color:#231F20;
    color: white;
  }
  
  /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
  .dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
  }
  
  /* Optional: Style the caret down icon */
  .fa-caret-down {
    float: right;
    padding-right: 8px;
  }
  .form{
      width: 60%;
      margin: auto;
      margin-top: 50px;  
      margin-right: 60px;
  }

  /* charts */

.graph {
	margin-bottom:1em;
  font:normal 100%/150% arial,helvetica,sans-serif;
}

.graph caption {
	font:bold 150%/120% arial,helvetica,sans-serif;
	padding-bottom:0.33em;
}

.graph tbody th {
	text-align:right;
}

@supports (display:grid) {

	@media (min-width:32em) {

		.graph {
			display:block;
      width:600px;
      height:300px;
      margin-top: 40px;
		}

		.graph caption {
			display:block;
		}

		.graph thead {
			display:none;
		}

		.graph tbody {
			position:relative;
			display:grid;
			grid-template-columns:repeat(auto-fit, minmax(2em, 1fr));
			column-gap:2.5%;
			align-items:end;
			height:100%;
			margin:3em 0 1em 2.8em;
			padding:0 1em;
			border-bottom:2px solid rgba(0,0,0,0.5);
			background:repeating-linear-gradient(
				180deg,
				rgba(170,170,170,0.7) 0,
				rgba(170,170,170,0.7) 1px,
				transparent 1px,
				transparent 20%
			);
		}

		.graph tbody:before,
		.graph tbody:after {
			position:absolute;
			left:-3.2em;
			width:2.8em;
			text-align:right;
			font:bold 80%/120% arial,helvetica,sans-serif;
		}

		.graph tbody:before {
			content:"100%";
			top:-0.6em;
		}

		.graph tbody:after {
			content:"0%";
			bottom:-0.6em;
		}

		.graph tr {
			position:relative;
			display:block;
		}

		.graph tr:hover {
			z-index:999;
		}

		.graph th,
		.graph td {
			display:block;
			text-align:center;
		}

		.graph tbody th {
			position:absolute;
			top:-3em;
			left:0;
			width:100%;
			font-weight:normal;
			text-align:center;
      white-space:nowrap;
			text-indent:0;
			transform:rotate(-45deg);
		}

		.graph tbody th:after {
			content:"";
		}

		.graph td {
			width:100%;
			height:100%;
			background:#F63;
			border-radius:0.5em 0.5em 0 0;
			transition: background 0.5s;
		}

		.graph tr:hover td {
			opacity:0.7;
		}

		.graph td span {
			overflow:hidden;
			position:absolute;
			left:50%;
			top:50%;
			width:0;
			padding:0.5em 0;
			margin:-1em 0 0;
			font:normal 85%/120% arial,helvetica,sans-serif;
			font-weight:bold;
			opacity:0;
			transition:opacity 0.5s;
      color:white;
		}

		.toggleGraph:checked + table td span,
		.graph tr:hover td span {
			width:4em;
			margin-left:-2em; 
			opacity:1;
		}

	}

} 
.graphs{
  margin-top: 40px;
}
.status{
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 20px;
  color: #F3AC3A;
}
  
